:root {
  --font-sans: "Inter var";

  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5% 64.9%;
  --radius: 0.5rem;

  --success: 132, 95.3%, 33.3%, 0.74;
  --success-foreground: 109 55% 28%;

  --info: 223 78% 42%;
  --info-foreground: 225 100% 50%;

  --attention: 45 90% 45%;
  --attention-foreground: 60 98.4% 48.8% 0.82;
}
@layer base {
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;

    --success: 109 55% 28%;
    --success-foreground: 109 55% 28%;

    --attention: 45, 90%, 45%, 0.8;
    --attention-foreground: 60 98.4% 48.8% 0.82;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  .code-sample {
    @apply max-h-[650px] min-h-[350px] overflow-x-auto rounded-lg border bg-zinc-950 dark:bg-zinc-900;
  }

  .code-sample pre {
    @apply min-h-[350px];
  }

  .code-sample span {
    @apply bg-zinc-950;
  }
  input.error {
    @apply border-red-400;
  }

  label.error {
    @apply text-destructive;
  }

  input.error:focus-visible {
    @apply ring-destructive;
  }
}

input[type="range"] {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  font-family: Arial, sans-serif;
}

/* input[type="range"]:focus,
input[type="number"]:focus {
  box-shadow: 0 0 3px 1px #4b81dd;
  outline: none;
} */

input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  min-width: 200px;
  height: 7px;
  background: #f4f4f5;
  border-radius: 5px;
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #000;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #000;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #000;
  transition: background 0.3s ease-in-out;
}

/* input[type="range"]::-webkit-slider-thumb:hover {
  background: #a1a1aa;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #a1a1aa;
}

input[type="range"]::-ms-thumb:hover {
  background: #a1a1aa;
} */

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.st-accordion .st-accordion__icon:before {
  content: "▼";
  display: inline-block;
  margin-right: 5px;
  font-size: 80%;
  text-decoration: none;
  transform: rotate(-90deg);
}
.st-accordion .st-accordion__icon--opened:before {
  transform: rotate(0deg);
}

.st-accordion .st-accordion__content:not(.st-accordion__content--visible) {
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.2s;
}
.st-accordion .st-accordion__content.st-accordion__content--visible {
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  transition: all 0.2s;
}

@layer utilities {
  @keyframes enter {
    from {
      opacity: var(--tw-enter-opacity, 1);
      transform:
        translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0)
        scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1))
        rotate(var(--tw-enter-rotate, 0));
    }
  }

  @keyframes exit {
    to {
      opacity: var(--tw-exit-opacity, 1);
      transform:
        translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0)
        scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1))
        rotate(var(--tw-exit-rotate, 0));
    }
  }

  .animate-in {
    --tw-enter-opacity: 1;
    --tw-enter-scale: 1;
    --tw-enter-rotate: 0deg;
    --tw-enter-translate-x: 0;
    --tw-enter-translate-y: 0;
    animation-name: enter;
    animation-duration: 150ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: both;
  }

  .animate-out {
    --tw-exit-opacity: 1;
    --tw-exit-scale: 1;
    --tw-exit-rotate: 0deg;
    --tw-exit-translate-x: 0;
    --tw-exit-translate-y: 0;
    animation-name: exit;
    animation-duration: 150ms;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-fill-mode: both;
  }

  .fade-in-0 {
    --tw-enter-opacity: 0;
  }

  .fade-out,
  .fade-out-0 {
    --tw-exit-opacity: 0;
  }

  .fade-out-80 {
    --tw-exit-opacity: 0.8;
  }

  .zoom-in-95 {
    --tw-enter-scale: 0.95;
  }

  .zoom-out-95 {
    --tw-exit-scale: 0.95;
  }

  .slide-in-from-left {
    --tw-enter-translate-x: -100%;
  }

  .slide-in-from-left-1\/2 {
    --tw-enter-translate-x: -50%;
  }

  .slide-in-from-right {
    --tw-enter-translate-x: 100%;
  }

  .slide-in-from-top,
  .slide-in-from-top-full {
    --tw-enter-translate-y: -100%;
  }

  .slide-in-from-top-\[48\%\] {
    --tw-enter-translate-y: -48%;
  }

  .slide-in-from-bottom,
  .slide-in-from-bottom-full {
    --tw-enter-translate-y: 100%;
  }

  .slide-out-to-left {
    --tw-exit-translate-x: -100%;
  }

  .slide-out-to-left-1\/2 {
    --tw-exit-translate-x: -50%;
  }

  .slide-out-to-right {
    --tw-exit-translate-x: 100%;
  }

  .slide-out-to-top {
    --tw-exit-translate-y: -100%;
  }

  .slide-out-to-top-\[48\%\] {
    --tw-exit-translate-y: -48%;
  }

  .slide-out-to-bottom,
  .slide-out-to-bottom-full {
    --tw-exit-translate-y: 100%;
  }

  .duration-200 {
    animation-duration: 200ms;
  }

  .duration-300 {
    animation-duration: 300ms;
  }

  .duration-500 {
    animation-duration: 500ms;
  }
}
